{% extends 'layout.html' %}
{% block title %}Edit Profile | Work and Education{% endblock %}
{% block link %}
    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" />

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'images/fav.png') }}"/>
{% endblock %}
{% block main %}
    <div id="page-contents">
        <div class="row">
            <div class="col-md-3">
                <!--Edit Profile Menu-->
                <ul class="edit-menu">
                    <li><i class="icon ion-ios-information-outline"></i><a href="/profile/edit/basic">Basic Information</a></li>
                    <li class="active"><i class="icon ion-ios-briefcase-outline"></i><a href="/profile/edit/edu-work">Education and Work</a></li>
                    <li><i class="icon ion-ios-heart-outline"></i><a href="/profile/edit/interests">My Interests</a></li>
                    <li><i class="icon ion-ios-settings"></i><a href="/profile/edit/settings">Account Settings</a></li>
                    <li><i class="icon ion-ios-camera-outline"></i><a href="/profile/edit/avatar">Change Avatar</a></li>
                    <li><i class="icon ion-ios-locked-outline"></i><a href="/profile/edit/password">Change Password</a></li>
                    <li><i class="icon ion-ios-locked-outline"></i><a href="/profile/edit/geolocation">Change Geolocation</a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <!-- Edit Work and Education
                ================================================= -->
                <div class="edit-profile-container">
                    <div class="block-title">
                        <h4 class="grey"><i class="icon ion-ios-book-outline"></i>My education</h4>
                        <div class="line"></div>
                        <p id="message_education"></p>
                        <div class="line"></div>
                    </div>
                    <div class="edit-block">
                        <form name="education" id="education" class="form-inline" method="post" onsubmit="add_education(this)">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="school">My university</label>
                                    <input id="school" class="form-control input-group-lg" type="text" name="school" title="Enter School" placeholder="My School"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label for="date_from">From</label>
                                    <input id="date_from" class="form-control input-group-lg" type="text" name="date" title="Enter a Date" placeholder="from"/>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="date_to" class="">To</label>
                                    <input id="date_to" class="form-control input-group-lg" type="text" name="date" title="Enter a Date" placeholder="to"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="edu_description">Description</label>
                                    <textarea id="edu_description" name="description" class="form-control" placeholder="Some texts about my education" rows="4" cols="400"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                    <div class="block-title">
                        <h4 class="grey"><i class="icon ion-ios-briefcase-outline"></i>Work Experiences</h4>
                        <div class="line"></div>
                        <p id="message_work"></p>
                        <div class="line"></div>
                    </div>
                    <div class="edit-block">
                        <form name="work" id="work" class="form-inline" method="post" onsubmit="add_work(this)">
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="company">Company</label>
                                    <input id="company" class="form-control input-group-lg" type="text" name="company" title="Enter Company" placeholder="Company name"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="designation">Designation</label>
                                    <input id="designation" class="form-control input-group-lg" type="text" name="designation" title="Enter designation" placeholder="designation name"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-6">
                                    <label for="from_date">From</label>
                                    <input id="from_date" class="form-control input-group-lg" type="text" name="date" title="Enter a Date" placeholder="from"/>
                                </div>
                                <div class="form-group col-xs-6">
                                    <label for="to_date" class="">To</label>
                                    <input id="to_date" class="form-control input-group-lg" type="text" name="date" title="Enter a Date" placeholder="to"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="work_city">City/Town</label>
                                    <input id="work_city" class="form-control input-group-lg" type="text" name="city" title="Enter city" placeholder="Your city">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <label for="work_description">Description</label>
                                    <textarea id="work_description" name="description" class="form-control" placeholder="Some texts about my work" rows="4" cols="400"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-primary">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2 static">
                <!--Sticky Timeline Activity Sidebar-->
                <div id="sticky-sidebar">
                    <h4 class="grey">{{ data.user.firstname + "'s activity" }}</h4>
                    <div class="feed-item">
                        <div class="live-activity">
                            <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                            <p class="text-muted">5 mins ago</p>
                        </div>
                    </div>
                    <div class="feed-item">
                        <div class="live-activity">
                            <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                            <p class="text-muted">an hour ago</p>
                        </div>
                    </div>
                    <div class="feed-item">
                        <div class="live-activity">
                            <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                            <p class="text-muted">4 hours ago</p>
                        </div>
                    </div>
                    <div class="feed-item">
                        <div class="live-activity">
                            <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                            <p class="text-muted">a day ago</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>
{% block scripts %}
    <!-- Scripts
    ================================================= -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/profile.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/notifications.js') }}"></script>
{% endblock %}

