{% extends 'layout.html' %}
{% block title %}Friends{% endblock %}
{% block link %}
    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'images/fav.png') }}"/>
{% endblock %}

{% block main %}
    <div class="container">
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                {% if data.user.id == session.get('id') %}
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#my_friends">My friends</a></li>
                            {% if data.incoming_requests_nbr > 0 %}
                                <li><a data-toggle="tab" href="#incoming_requests">Incoming requests <span id="f_incoming_requests_nbr" style="color: #ff374f">{{ data.incoming_requests_nbr }}</span></a></li>
                            {% else %}
                                <li><a data-toggle="tab" href="#incoming_requests">Incoming requests <span id="f_incoming_requests_nbr" style="color: #ff374f" class="none">{{ data.incoming_requests_nbr }}</span></a></li>
                            {% endif %}
                            <li><a data-toggle="tab" href="#outgoing_requests">Outgoing requests</a></li>
                            <li><a data-toggle="tab" href="#block">Block</a></li>
                        </ul>
                    </div>
                    <div class="line-divider"></div>
                    <div class="tab-content">
                        <div id="my_friends" class="tab-pane fade in active">
{#                            <p>Friends</p>#}
                            {% if data.friends %}
                                <!-- Friend List
                                ================================================= -->
                                <div class="friend-list">
                                    <div class="row">
                                        {% for friend in data.friends %}
                                            {% if friend.id_user1 == data.user.id %}
                                                {% set guy = data.get_user_by_id(friend.id_user2)[0] %}
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="friend-card">
                                                        <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                                                        <div class="card-info">
                                                            <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                                                            <div class="friend-info">
                                                                {% if data.online_users and guy.id in data.online_users%}
                                                                    <a href="#" class="pull-right text-green">Online</a>
                                                                {% endif %}
                                                                <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                                                                <p>{{ guy.login }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif friend.id_user2 == data.user.id %}
                                                {% set guy = data.get_user_by_id(friend.id_user1)[0] %}
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="friend-card">
                                                        <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                                                        <div class="card-info">
                                                            <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                                                            <div class="friend-info">
                                                                {% if data.online_users and guy.id in data.online_users%}
                                                                    <a href="#" class="pull-right text-green">Online</a>
                                                                {% endif %}
                                                                <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                                                                <p>{{ guy.login }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                {% if data.user.id == session.get('id') %}
                                    <p style="text-align: center">You have no friends yet</p>
                                {% else %}
                                    <p style="text-align: center">The user has no friends yet</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div id="incoming_requests" class="tab-pane fade">
{#                            <p>Incoming requests</p>#}
                            {% if data.incoming_requests %}
                            <div class="friend-list">
                                <div class="row">
                                    {% for request in data.incoming_requests %}
                                        {% set guy = data.get_user_by_id(request.id_sender)[0] %}
                                        <div class="col-md-6 col-sm-6">
                                            <div class="friend-card">
                                                <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                                                <div class="card-info">
                                                    <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                                                    <div class="friend-info">
                                                        {% if data.online_users and guy.id in data.online_users%}
                                                                    <a href="#" class="pull-right text-green">Online</a>
                                                                {% endif %}
                                                        <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                                                        <p>{{ guy.login }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div id="outgoing_requests" class="tab-pane fade">
{#                            <p>Outgoing requests</p>#}
                            {% if data.outgoing_requests %}
                            <div class="friend-list">
                                <div class="row">
                                    {% for request in data.outgoing_requests %}
                                        {% set guy = data.get_user_by_id(request.id_taker)[0] %}
                                        <div class="col-md-6 col-sm-6">
                                            <div class="friend-card">
                                                <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                                                <div class="card-info">
                                                    <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                                                    <div class="friend-info">
                                                        {% if data.online_users and guy.id in data.online_users%}
                                                            <a href="#" class="pull-right text-green">Online</a>
                                                        {% endif %}
                                                        <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                                                        <p>{{ guy.login }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    <div id="block" class="tab-pane fade">
                        {% if data.blocked_users %}
                            <div class="friend-list">
                                <div class="row">
                                    {% for user in data.blocked_users %}
                                        <div class="col-md-6 col-sm-6">
                                            <div class="friend-card">
                                                <img src="{{ user.background }}" alt="profile-cover" class="img-responsive cover" />
                                                <div class="card-info">
                                                    <img src="{{ user.avatar }}" alt="user" class="profile-photo-lg" />
                                                    <div class="friend-info">
                                                        {% if data.online_users and guy.id in data.online_users%}
                                                            <a href="#" class="pull-right text-green">Online</a>
                                                        {% endif %}
                                                        <h5><a href="/profile/id{{ user.id }}" class="profile-link">{{ user.firstname + ' ' + user.lastname }}</a></h5>
                                                        <p>{{ user.login }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    </div>
                {% else %}
                    {% if data.friends %}
                        <!-- Friend List
                        ================================================= -->
                        <div class="friend-list">
                            <div class="row">
                                {% for friend in data.friends %}
                                    {% if friend.id_user1 == data.user.id %}
                                        {% set guy = data.get_user_by_id(friend.id_user2)[0] %}
                                        <div class="col-md-6 col-sm-6">
                                            <div class="friend-card">
                                                <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                                                <div class="card-info">
                                                    <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                                                    <div class="friend-info">
                                                        {% if data.online_users and guy.id in data.online_users%}
                                                            <a href="#" class="pull-right text-green">Online</a>
                                                        {% endif %}
                                                        <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                                                        <p>{{ guy.login }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% elif friend.id_user2 == data.user.id %}
                                        {% set guy = data.get_user_by_id(friend.id_user1)[0] %}
                                        <div class="col-md-6 col-sm-6">
                                            <div class="friend-card">
                                                <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                                                <div class="card-info">
                                                    <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                                                    <div class="friend-info">
                                                        {% if data.online_users and guy.id in data.online_users%}
                                                            <a href="#" class="pull-right text-green">Online</a>
                                                        {% endif %}
                                                        <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                                                        <p>{{ guy.login }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% if data.user.id == session.get('id') %}
                            <p style="text-align: center">You have no friends yet</p>
                        {% else %}
                            <p style="text-align: center">The user has no friends yet</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Scripts
    ================================================= -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/notifications.js') }}"></script>
{% endblock %}
