{% extends 'layout.html' %}
{% block title %}My Friends | Friend Finder Friend List{% endblock %}
{% block link %}
    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" />

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'images/fav.png') }}"/>
{% endblock %}

{% block main %}
    <div class="container">

        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
            <div class="row">
                <ul class="list-inline">
                    <li id="my_friends">My friends</li>
                    <li id="incoming_requests">Incoming requests</li>
                    <li id="outgoing_requests">Outgoing requests</li>
                </ul>
            </div>
            <div class="line-divider"></div>
            {% if data.friends %}
              <!-- Friend List
              ================================================= -->
              <div class="friend-list">
                <div class="row">
                 {% for friend in data.friends %}
                    {% if friend.id_user1 == data.user.id %}
                    {% set guy = data.get_user_by_id(friend.id_user2)[0] %}
                  <div class="col-md-6 col-sm-6">
                    <div class="friend-card">
                      <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                      <div class="card-info">
                        <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                        <div class="friend-info">
                          <a href="#" class="pull-right text-green">My Friend</a>
                          <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                          <p>{{ guy.login }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% elif friend.id_user2 == data.user.id %}
                    {% set guy = data.get_user_by_id(friend.id_user1)[0] %}
                  <div class="col-md-6 col-sm-6">
                    <div class="friend-card">
                      <img src="{{ guy.background }}" alt="profile-cover" class="img-responsive cover" />
                      <div class="card-info">
                        <img src="{{ guy.avatar }}" alt="user" class="profile-photo-lg" />
                        <div class="friend-info">
                          <a href="#" class="pull-right text-green">My Friend</a>
                          <h5><a href="/profile/id{{ guy.id }}" class="profile-link">{{ guy.firstname + ' ' + guy.lastname }}</a></h5>
                          <p>{{ guy.login }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% endif %}
                {% endfor %}
                </div>
              </div>
                {% else %}
                {% if data.user.id == session.get('id') %}
                    <p style="text-align: center">You have no friends yet</p>
                {% else %}
                    <p style="text-align: center">The user has no friends yet</p>
                {% endif %}
            {% endif %}
            </div>
{#            <div class="col-md-2 static">#}
{#              <div id="sticky-sidebar">#}
{#                <h4 class="grey">Sarah's activity</h4>#}
{#                <div class="feed-item">#}
{#                  <div class="live-activity">#}
{#                    <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>#}
{#                    <p class="text-muted">5 mins ago</p>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="feed-item">#}
{#                  <div class="live-activity">#}
{#                    <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>#}
{#                    <p class="text-muted">an hour ago</p>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="feed-item">#}
{#                  <div class="live-activity">#}
{#                    <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>#}
{#                    <p class="text-muted">4 hours ago</p>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="feed-item">#}
{#                  <div class="live-activity">#}
{#                    <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>#}
{#                    <p class="text-muted">a day ago</p>#}
{#                  </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Scripts
    ================================================= -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/notifications.js') }}"></script>
{% endblock %}
