<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
{#    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">#}
{#    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/fav.png') }}"/>#}
    {% block link %}{% endblock %}
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
        </div>
        <input type="checkbox" id="menu-checkbox">
        <nav role="navigation">
          <label for="menu-checkbox" class="toogle-button"
           data-open="Menu" data-close="Close" onclick></label>
           <ul class="main-menu">
             <li><a href="#">HOME</a></li>
             <li><a href="#">PROFILE</a></li>
             <li><a href="#">SETTINGS</a></li>
             <li><a href="#">PHOTOS</a></li>
             <li><a href="#">ABOUT</a></li>
           </ul>
        </nav>
      </div>
    </header>

    {% block main %}{% endblock %}



  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
  </script>
    {% block scripts %}{% endblock%}
{#  <footer id="footer">#}
{#    <div class="copyright">#}
{#      <p>ikarachy © 2018. All rights reserved</p>#}
{#    </div>#}
{#  </footer>#}
</body>
</html>
