<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......" />
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
    <meta name="robots" content="index, follow" />
    <title>{% block title %}{% endblock %}</title>
    {% block link %}{% endblock %}
</head>
<body>
<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/profile"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    {% if data.incoming_requests_nbr > 0 %}
                        <li class="dropdown">
                            <a href="/profile/friends">My friends <span id="incoming_requests_nbr" style="color: #ff374f">{{ data.incoming_requests_nbr }}</span></a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="/profile/friends">My friends <span id="incoming_requests_nbr" style="color: #ff374f" class="none">{{ data.incoming_requests_nbr }}</span></a>
                        </li>
                    {% endif %}
                    {% if data.unread_messages_nbr > 0 %}
                        <li class="dropdown">
                            <a href="/profile/messages">My messages <span id="unread_messages_nbr" style="color: #ff374f">{{ data.unread_messages_nbr }}</span></a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="/profile/messages">My messages <span id="unread_messages_nbr" class="none" style="color: #ff374f;">{{ data.unread_messages_nbr }}</span></a>
                        </li>
                    {% endif %}
                    <li class="dropdown"><a href="/newsfeed">Newsfeed</a></li>
                    <li class="dropdown">
                        <a href="/profile/photos">My photos</a>
                    </li>
                    <li class="dropdown" >
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit <span><img src="{{ url_for('static', filename='images/down-arrow.png') }}" alt="" /></span></a>
                        <ul class="dropdown-menu page-list">
                            <li><a href="/profile/edit/basic">Basic information</a></li>
                            <li><a href="/profile/edit/edu-work">Education and work</a></li>
                            <li><a href="/profile/edit/interests">My interests</a></li>
                            <li><a href="/profile/edit/settings">Profile settings</a></li>
                            <li><a href="/profile/edit/avatar">Avatar</a></li>
                            <li><a href="/profile/edit/password">Password</a></li>
                            <li><a href="/profile/edit/geolocation">Geolocation</a></li>
                        </ul>
                    </li>
                    {% if 'id' in session %}
                        <li><a id="logout" href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
                <form class="navbar-form navbar-right hidden-sm">
                    <div class="form-group">
                        <i class="icon ion-android-search"></i>
                         <a href="/profile/search"><input type="text" class="form-control" placeholder="Search friends, photos, videos"></a>
                    </div>
                </form>
            </div>  <!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<ul class="notifications"></ul>
<!--Header End-->
<div class="container">
    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover" style="background: url({{ data.user.background }})">
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-info">
                            {% if data.user.id == session.get('id') %}
                                <a href="/profile"><img id="profile_photo" src="{{ data.user.avatar }}" alt="" class="img-responsive profile-photo" /></a>
                            {% else %}
                                <a href="/profile/id{{ data.user.id }}"><img id="profile_photo" src="{{ data.user.avatar }}" alt="" class="img-responsive profile-photo" /></a>
                            {% endif %}
                            <h3>{{ data.user.firstname + ' ' + data.user.lastname }}</h3>
                            <p class="text-muted">{{ data.user.login }}</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            {% if data.user.id != session.get('id') %}
                                <li><a href="/profile/id{{ data.user.id }}">Profile</a></li>
                                <li><a href="/profile/friends/id{{ data.user.id }}">Friends</a></li>
                                <li><a href="/profile/photos/id{{ data.user.id }}">Album</a></li>
                            {% else %}
                                <li><a href="/profile/suggestions">Suggestions</a></li>
                                <li><a href="/profile/notifications">Notifications</a></li>
                            {% endif %}
                        </ul>
                        <ul class="follow-me list-inline actions">
                            <li style="margin-top: 7px;">{{ data.user.fame_rating }}<i class="fas fa-star"></i></li>
                            {% set nbr_of_friends = data.friends|count %}
                            {% if session.get('id') == data.user.id %}
                                <li style="margin-top: 7px;"><a class="text-white" style="text-decoration: none" href="/profile/friends">{{ nbr_of_friends }} <i class="fas fa-user-friends"></i></a></li>
                            {% else %}
                                <li style="margin-top: 7px;"><a class="text-white" style="text-decoration: none" href="/profile/friends/id{{ data.user.id }}">{{ nbr_of_friends }} <i class="fas fa-user-friends"></i></a></li>
                            {% endif %}
                            {% if session.get('id') != data.user.id %}
                                {% if data.check_block(data.user.id, session.get('id')) == 'in_block' %}
                                    <li><a style="color: #ff374f; text-decoration: none;">You are in a block</a></li>
                                {% elif data.check_block(data.user.id, session.get('id')) == 'block'%}
                                    <li><a style="color: #ff374f; text-decoration: none;">Blocked by you</a></li>
                                    <li><button id="unblock_user" class="btn-primary">Unblock</button></li>
                                {% else %}
                                    {% if data.sympathys.check_sympathy(session.get('id'), data.user.id) %}
                                        <li><button id="unlike_user" class="btn-primary unlike_user" >Unlike</button></li>
                                        <li><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue" class="btn-primary">Send message</button></a></li>
                                        <li class="none"><button id="liked_user" class="btn-primary liked_user">Liked</button></li>
                                        <li class="none"><button id="like_back" class="btn-primary">Like back</button></li>
                                        <li class="none"><button id="like_user" class="btn-primary like_user">Like</button></li>
                                    {% else %}
                                        {% if data.sympathys.check_request(session.get('id'), data.user.id) == 'sender' %}
                                            <li class="none"><button id="unlike_user" class="btn-primary unlike_user" >Unlike</button></li>
                                            <li class="none"><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue" class="btn-primary">Send message</button></a></li>
                                            <li><button id="liked_user" class="btn-primary liked_user">Liked</button></li>
                                            <li class="none"><button id="like_back" class="btn-primary">Like back</button></li>
                                            <li class="none"><button id="like_user" class="btn-primary like_user">Like</button></li>
                                        {% elif data.sympathys.check_request(session.get('id'), data.user.id) == 'taker' %}
                                            <li class="none"><button id="unlike_user" class="btn-primary unlike_user" >Unlike</button></li>
                                            <li class="none"><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue" class="btn-primary">Send message</button></a></li>
                                            <li class="none"><button id="liked_user" class="btn-primary liked_user">Liked</button></li>
                                            <li><button id="like_back" class="btn-primary">Like back</button></li>
                                            <li class="none"><button id="like_user" class="btn-primary like_user">Like</button></li>
                                        {% else %}

                                            <li class="none"><button id="unlike_user" class="btn-primary unlike_user" >Unlike</button></li>
                                            <li class="none"><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue" class="btn-primary">Send message</button></a></li>
                                            <li class="none"><button id="liked_user" class="btn-primary liked_user">Liked</button></li>
                                            <li class="none"><button id="like_back" class="btn-primary">Like back</button></li>
                                            <li><button id="like_user" class="btn-primary like_user">Like</button></li>
                                        {% endif %}
                                    {% endif %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                        <ul class="dropdown-menu">
                                            <li id="report_user"><a>Report</a></li>
                                            <li id="block_user"><a>Block</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div><!--Timeline Menu for Large Screens End-->
            <!--Timeline Menu for Small Screens-->
            <div class="navbar-mobile hidden-lg hidden-md">
                <div class="profile-info">
                    {% if data.user.id == session.get('id') %}
                        <a href="/profile"><img id="m_profile_photo" src="{{ data.user.avatar }}" alt="" class="img-responsive profile-photo" /></a>
                    {% else %}
                        <a href="/profile/id{{ data.user.id }}"><img id="m_profile_photo" src="{{ data.user.avatar }}" alt="" class="img-responsive profile-photo" /></a>
                    {% endif %}
                    <h4>{{ data.user.firstname + ' ' + data.user.lastname }}</h4>
                    <p class="text-muted">{{ data.user.login }}</p>
                </div>
                <div class="mobile-menu">
                    <ul class="list-inline actions">
                        {% if data.user.id != session.get('id') %}
                            <li><a href="/profile/profile/id{{ data.user.id }}" class="active">Profile</a></li>
                            <li><a href="/profile/friends/id{{ data.user.id }}">Friends</a></li>
                            <li><a href="/profile/photos/id{{ data.user.id }}">Album</a></li>
                        {% else %}
                            <li><a href="/profile/suggestions">Suggestions</a></li>
                            <li><a href="/profile/notifications">Notifications</a></li>
                        {% endif %}
                        {% if session.get('id') != data.user.id %}
                            {% if data.check_block(data.user.id, session.get('id')) == 'in_block' %}
                                <li><a style="color: #ff374f; text-decoration: none;">You are in a block</a></li>
                            {% elif data.check_block(data.user.id, session.get('id')) == 'block'%}
                                <li><a style="color: #ff374f; text-decoration: none;">Blocked by you</a></li>
                                <li><button id="unblock_user_M" class="btn-primary">Unblock</button></li>
                            {% else %}
                                {% if data.sympathys.check_sympathy(session.get('id'), data.user.id) %}
                                    <li><button id="unlike_user_M" class="btn-primary unlike_user" >Unlike</button></li>
                                    <li><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue_M" class="btn-primary">Send message</button></a></li>
                                    <li class="none"><button id="liked_user_M" class="btn-primary liked_user">Liked</button></li>
                                    <li class="none"><button id="like_back_M" class="btn-primary">Like back</button></li>
                                    <li class="none"><button id="like_user_M" class="btn-primary like_user">Like</button></li>
                                {% else %}
                                    {% if data.sympathys.check_request(session.get('id'), data.user.id) == 'sender' %}
                                        <li class="none"><button id="unlike_user_M" class="btn-primary unlike_user" >Unlike</button></li>
                                        <li class="none"><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue_M" class="btn-primary">Send message</button></a></li>
                                        <li><button id="liked_user_M" class="btn-primary liked_user">Liked</button></li>
                                        <li class="none"><button id="like_back_M" class="btn-primary">Like back</button></li>
                                        <li class="none"><button id="like_user_M" class="btn-primary like_user">Like</button></li>
                                    {% elif data.sympathys.check_request(session.get('id'), data.user.id) == 'taker' %}
                                        <li class="none"><button id="unlike_user_M" class="btn-primary unlike_user" >Unlike</button></li>
                                        <li class="none"><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue_M" class="btn-primary">Send message</button></a></li>
                                        <li class="none"><button id="liked_user_M" class="btn-primary liked_user">Liked</button></li>
                                        <li><button id="like_back_M" class="btn-primary">Like back</button></li>
                                        <li class="none"><button id="like_user_M" class="btn-primary like_user">Like</button></li>
                                    {% else %}
                                        <li class="none"><button id="unlike_user_M" class="btn-primary unlike_user" >Unlike</button></li>
                                        <li class="none"><a href="/profile/messages/dialogue_with_{{ data.user.id }}"><button id="start_dialogue_M" class="btn-primary">Send message</button></a></li>
                                        <li class="none"><button id="liked_user_M" class="btn-primary liked_user">Liked</button></li>
                                        <li class="none"><button id="like_back_M" class="btn-primary">Like back</button></li>
                                        <li><button id="like_user_M" class="btn-primary like_user">Like</button></li>
                                    {% endif %}
                            {% endif %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                <ul class="dropdown-menu">
                                    <li id="report_user_M"><a>Report</a></li>
                                    <li id="block_user_M"><a>Block</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </div>
            </div><!--Timeline Menu for Small Screens End-->
        </div>
        {% block main %}{% endblock %}
        <!-- Footer
        ================================================= -->
        <footer id="footer">
            <div class="copyright">
                <p>ikarachy © 2019. All rights reserved</p>
            </div>
        </footer>
        {% block scripts %}
            <script src="{{ url_for('static', filename = 'js/sympathys.js') }}"></script>
            <script src="{{ url_for('static', filename = 'js/messages.js') }}"></script>
            <script src="{{ url_for('static', filename = 'js/create_dialogue.js') }}"></script>
        {% endblock %}
</body>
</html>
