{% extends 'layout.html' %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/jquery-ui.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/emoji.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/fav.png') }}"/>
{% endblock %}
{% block main %}
    <div class="container">
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <!-- About
                    ================================================= -->
                    <div class="about-profile">
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-information-circled icon-in-title"></i>About me</h4>
                            {% if data.information %}
                                <p>{{ data.information }}</p>
                            {% else %}
                                {% if data.user.id == session.get('id') %}
                                    <a href="/profile/edit/basic"><p>Add information about yourself</p></a>
                                {% else %}
                                    <p>The user has not yet filled out any personal information.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-information-circled icon-in-title"></i>Gender</h4>
                            <p>{{ data.user.gender }}</p>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-information-circled icon-in-title"></i>Sexual preferences</h4>
                            <p>{{ data.user.sex_pref }}</p>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-heart icon-in-title"></i>Interests</h4>
                            <ul class="interests list-inline">
                                {% if data.interests %}
                                    {% for interest in data.interests %}
                                        <li><a class="tag" style="text-decoration: none;"><i class="{{ interest.icon }}"></i> {{ interest.title }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <a href="/profile/edit/interests"><p>Add your interests</p></a>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-location icon-in-title"></i>Location</h4>
                            <div class="google-maps">
                                <div style="display: none;" id="geo_latitude">{{ data.geolocation['latitude'] }}</div>
                                <div style="display: none;" id="geo_longitude">{{ data.geolocation['longitude'] }}</div>
                                <div id="map" class="map"></div>
                            </div>
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-university icon-in-title"></i>Education</h4>
                            {% if data.education %}
                            {% for edu in data.education %}
                            <div class="organization">
                                <img src="{{ url_for('static', filename = 'images/envato.png') }}" alt="" class="pull-left img-org" />
                                <div class="work-info">
                                    <h5>{{ edu.university }}</h5>
                                    <p><span class="text-grey">from {{ edu.from_year }} to {{ edu.to_year }}</span></p>
                                    <p>{{ edu.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-ios-briefcase icon-in-title"></i>Work Experiences</h4>
                            {% if data.work %}
                            {% for work in data.work %}
                            <div class="organization">
                                <img src="{{ url_for('static', filename = 'images/envato.png') }}" alt="" class="pull-left img-org" />
                                <div class="work-info">
                                    <h5>{{ work.company }}</h5>
                                    <p>{{ work.designation }} - <span class="text-grey">from  {{ work.from_year }}  to  {{ work.to_year }}</span></p>
                                    <p>{{ work.description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                        </div>
                        <div class="about-content-block">
                            <h4 class="grey"><i class="ion-link icon-in-title"></i>Links</h4>
                            <ul class="list-inline social-icons">
                                <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 static">
                    <div class="suggestions" id="sticky-sidebar">
                        <h4 class="grey">Who to Follow</h4>
                        {% if data.suggestions %}
                        {% for suggestion in data.suggestions %}
                        <div class="follow-user">
                            <img src="{{ suggestion.avatar }}" alt="" class="profile-photo-sm pull-left" />
                            <div>
                                <h5><a href="/profile/id{{ suggestion.id }}">{{ suggestion.firstname + ' ' + suggestion.lastname }}</a></h5>
{#                                <a href="#" class="text-green">{{  }}</a>#}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/notifications.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/create_dialogue.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/geolocation.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/geomarker.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/sympathys.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAqLNucodvPuxX_30MWoh6g1YT6hWnvzS4&callback=initMap"></script>
{% endblock %}